* {
    margin: 0px;
    padding: 0px;
}

*::-webkit-scrollbar {
    width: 0px;
}

* main {
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    min-height: 100vh;
    width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid black;
    background-color: grey;
    background-image: url(banner.jpg);
    position: sticky;
    top: 0px;
    z-index: 10;
}

.indexHeader div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 2px;
    position: relative;
    flex-direction: row;
    margin: 0px 50px;
}

.indexHeader div .headerLogo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: fill;
    border: 1px solid;
}

.indexHeader div nav{
    display: flex;
    gap: 42px;
}
.indexHeader div nav a {
    color: black;
    font-size: 19px;
    text-decoration: none;
}

@media(max-width:700px) {
    .indexHeader div nav a {
        display: none;
    }

    .indexHeader div {
        justify-content: space-between;
        margin: 0px 50px 0px 20px;
    }

}

@media(min-width:701px) {
    .indexHeader div nav i {
        display: none;
    }
}

.indexHeader .mobileHamburger {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: grey;
    position: fixed;
    display: none;
    padding: 0px;
}

.indexHeader .mobileHamburger div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    gap: 20px;
    position: relative;
}

.indexHeader .mobileHamburger div a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}



/* movies.htmlyy page css code here / starts from here  */

.Movies main .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.Movies main .container .subContainer{
    width: 300px;
    min-height: 300px;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
}

.Movies main .container .subContainer .imgContainer{
    width: 250px;
    height: 250px;
    /* background-color: red; */
    border-radius: 8px;
    margin: 0px 0px;
    object-fit: fill;
}